open3d
pybind11
ipython
fastparquet
cython
cmake
cffi
opencv-python
tensorflow
torch
keras
panda3d
pyvista
pyntcloud
pymeshlab
scikit-spatial
scikit-build
fmpy 
rerun-sdk
joblib
ray
dask
h5py
raytracing
rayoptics
