numpy
scipy
matplotlib
pandas
open3d
polars
pybind11
ipython
fastparquet
cython
cmake
cffi
opencv-python
tensorflow
torch
keras
laspy
panda3d
plotly
bokeh
pyarrow
pyvista
pyntcloud
pymeshlab
scikit-learn
scikit-spatial
scikit-build
fmpy 
rerun-sdk
joblib
ray
dask
h5py
raytracing
rayoptics
trimesh
